#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
#
#               Example environment configuration
#
#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'

# By default, the examples support both mnemonic-based and private key-based authentication
# 
# You don't need to set both of these values, just pick the one that you prefer and set that one
MNEMONIC=
PRIVATE_KEY=
RPC_URL_ETHEREUM=
RPC_URL_OPTIMISM=
RPC_URL_SEPOLIA=
RPC_URL_OP_SEPOLIA=
RPC_URL_AMOY=
RPC_URL_DMM_TEST=
TOKEN_ADDRESS=
TOKEN_ADDRESS_TESTNET=
ETHERSCAN_API_KEY=
OP_ETHERSCAN_API_KEY=